<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <FxLogAppender name="FxLogAppender">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{1} - %msg"/>
        </FxLogAppender>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="FxLogAppender"/>
        </Root>
    </Loggers>
</Configuration>
